body {
    margin: 0 auto;
}
header {
    position: relative;
}
header h1 {
    margin-top: 20px;
    position: absolute;
    top: 80px;
    left: 10px;
}
img {
    width: 250px;
    height: 250px;
    margin-left: 250px;
} 